<div class='homepageContent'>
  <div class="jumbo" id='homeHero'>
    <div class= "navbar-area">
      <%= render 'shared/header' %>
    </div>
    <div id="react-content"></div> <!-- All react content goes here -->
  </div>
</div>
